# Environment variables
.env

# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Database / Storage
data/*.json
!data/.gitkeep

